<section class="goalsSection">
	<div class="close">&#215;</div>
	<h3>About Our Goals</h3>
	<ul>
		<li>
			Get to know each other's businesses and help promote them
		</li>
		<li>
			Support each other with our skills and experience
		</li>		
		<li>
			Look for teamwork oportunities 
		</li>		
	</ul>

	<article>
		The start of every meeting will begin wih a discussion of what we have done to help out other members in the last month. Then we will give time for each member to discuss their current new projects and what they can offer their new or existing clients.
	</article>


</section>