section.goalsSection {
    padding: 30px;
    color: white;
    font-size: 1.2em;

}

h3{
	color: white;	
}

.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    color: red;
}